@mixin sizev ($vwidth, $width, $height) {
    width: $vwidth;
    height: calc(#{$vwidth} * #{$height} / #{$width});
}

@mixin middleTop ($vwidth, $width, $height, $topOffset: 0vh) {
    top: calc(50vh + #{$topOffset} - (#{$vwidth} * #{$height} / #{$width}) / 2);
}

@mixin toCenter ($vwidth, $width, $height) {
    @include middleTop($vwidth, $width, $height);
    left: calc((100vw - #{$vwidth}) / 2);
}