#call {
    header {
        text-align: center;
        width: 100%;
        top: 40vh;

        .text {
            @extend .big-article-text;
            padding: 0 1vw;
        }
    }

    .bg {
        width: 100%;
        height: 100vh;
        background: $even-article-color;
    }

    .scroll-down {
        @include scroll-down();
        bottom: 10%;
    }
}