#call {
    header {
        text-align: center;
        top: 120vh;

        .text {
            font-size: calc(3vw + 1.8vh);
            text-transform: uppercase;
            padding: 0px 1vw;
        }
    }
}