#counter {
    height: 100vh;

    header {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 95vh;

        .text {
            @extend .big-article-text;
            line-height: 1.5em;
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        background: $odd-article-color;
    }

    .scroll-down {
        @include scroll-down();
        bottom: 5vh;
    }
}