@mixin image ($fileName) {
    background-image: url('../images/' + $fileName);
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-right: 7px;
}

footer {
    position: relative;
    height: 130vh;
    background-color: $dark-bg-color;
    color: $light-text-color;
    padding-top: 10vh;
    padding-left: 7vw;

    .social-links {
        float: left;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    .registration {
        float: left;

        .btn {
            font-weight: bold;
        }
    }

    .links {
        margin-bottom: 20px;

        a {
            margin-bottom: 10px;
        }
    }

    .icon-fb {
        @include image('fb.png');
    }

    .icon-vk {
        @include image('vk.png');
    }

    .icon-mail {
        @include image('mail.png');
    }

    .h-line {
        width: 90%;
    }

    .projects a {
        display: inline-block;
        margin-right: 18px;
    }

    .description {
        line-height: 1.9em;
    }
}