@import '../base/colors';

footer {
    position: relative;
    height: 50vh;
    background-color: #333333;
    color: #eeeeee;
    padding-top: 10vh;
    padding-left: 7vw;
    line-height: 1.5em;
}