@import '../assets/figures';

#marathon {
    height: 100vh;
    background: #ffffff;

    header {
        text-align: center;
        width: 100%;
        top: 45vh;

        .text {
            font-size: calc(3vw + 2vh);
            text-transform: uppercase;
            left: 0px;
            right: 0px;
        }
    }

    .scroll-down {
        @include scroll-down();
        bottom: 5vh;
    }
}