@import '../utils/size';
@import '../base/colors';

$medalsWidth: 626;
$medalsHeight: 418;

$shirtWidth: 1117;
$shirtHeight: 1472;

$teamWidth: 626;
$teamHeight: 417;

@mixin sizeMedals ($vwidth) {
    @include sizev($vwidth, $medalsWidth, $medalsHeight);
}

@mixin sizeShirt ($vwidth) {
    @include sizev($vwidth, $shirtWidth, $shirtHeight);
}

@mixin sizeTeam ($vwidth) {
    @include sizev($vwidth, $teamWidth, $teamHeight);
}

@mixin image ($fileName) {
    background: url('../images/' + $fileName) center center no-repeat;
    background-size: 100%;
}

@mixin label ($alpha: 1) {
    width: 100%;
    background-color: rgba(255, 255, 255, $alpha);
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
    text-transform: uppercase;
    padding: 4% 0;
}

#more {
    height: 140vh;
    background: #fffcf4;
    
    .medals {
        top: 10vh;
        left: 10%;
        @include sizeMedals(35vw);
        @include image('medals.jpg');

        .label {
            @include label(0.85);
            top: 33%;
        }
    }

    .shirt {
        top: 10vh;
        right: 10%;
        @include sizeShirt(33vw);
        @include image('shirt.png');

        .label {
            @include label(0.7);
            top: 23%;
        }
    }

    .team {
        top: 45vh;
        left: 20%;
        @include sizeShirt(38vw);
        @include image('team.jpg');

        .label {
            @include label(0.6);
            top: 42%;
        }
    }

    .scroll-down {
        @include scroll-down();
        bottom: 5vh;
    }
}