@import '../utils/size';

$medalsWidth: 626;
$medalsHeight: 418;

$shirtWidth: 1117;
$shirtHeight: 1472;

$teamWidth: 626;
$teamHeight: 417;

@mixin sizeMedals ($vwidth) {
    @include sizev($vwidth, $medalsWidth, $medalsHeight);
}

@mixin sizeShirt ($vwidth) {
    @include sizev($vwidth, $shirtWidth, $shirtHeight);
}

@mixin sizeTeam ($vwidth) {
    @include sizev($vwidth, $teamWidth, $teamHeight);
}

@mixin image($fileName) {
    background: url('../images/' + $fileName) center center no-repeat;
    background-size: 100%;
}

#more {
    height: 140vh;
    background: #fffcf4;
    
    .medals {
        top: 10vh;
        left: 10%;
        @include sizeMedals(33vw);
        @include image('medals.jpg');
    }

    .shirt {
        top: 10vh;
        right: 10%;
        @include sizeShirt(30vw);
        @include image('shirt.png');
    }

    .team {
        top: 45vh;
        left: 20%;
        @include sizeShirt(35vw);
        @include image('team.jpg');
    }

    // .label-1 {
    //     right: 10%;
    //     top: 120vh;
    //     font-size: 1.8vw;
    //     text-transform: uppercase;
    // }

    // .label-2 {
    //     left: 14%;
    //     top: 100vh;
    //     font-size: 1.8vw;
    //     text-transform: uppercase;
    // }

    // .label-3 {
    //     left: 16%;
    //     top: 200vh;
    //     font-size: 1.8vw;
    //     text-transform: uppercase;
    // }

    .scroll-down {
        @include scroll-down();
        bottom: 5vh;
    }
}