#participate {
    header {
        text-align: center;
        width: 100%;
        top: 10vh;

        .text {
            @extend .big-article-text;
        }
    }

    .steps {
        position: absolute;
        top: -20vh;
        left: 10%;
        font-size: calc(2vw + 1vh);
        text-transform: uppercase;
        padding: 0 5vw;

        li {
            margin-bottom: 4.5vh;
        }
    }

    .bg {
        width: 100%;
        height: 100vh;
        background: $even-article-color;
    }

    .scroll-down {
        @include scroll-down();
        bottom: 5vh;
    }
}