@import 'assets/image';

.trophy-picture {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50px;
    width: 1024px;

    .image {
        @include image('trophy.jpg', 1024, 683);
    }
}

.marathon1-picture {
    left: 15%;
    top: 1750px;
    width: 600px;
    height: 500px;

    .image {
        @include image('marathon-1.jpg', 600, 500);
    }
}

.marathon2-picture {
    left: 10%;
    top: 1000px;
    width: 770px;
    height: 500px;

    .image {
        @include image('marathon-2.jpg', 770, 500);
    }
}

.marathon3-picture {
    left: 60%;
    top: 1000px;
    width: 450px;
    height: 800px;

    .image {
        @include image('marathon-3.jpg', 450, 800);
        background-position-x: left;
    }
}