@import '../base/colors';

#prize {
    header {
        top: 183vh;
        left: 10%;
        text-align: center;
        max-width: 600px;
        
        .text {
            font-size: calc(2vw + 1vh);
            text-transform: uppercase;

            .sport-life {
                color: $green-color;
            }
        }
    }

    .picture {
        right: 0;
        top: calc(70vw + 40vh);//183vh;
        width: 55vw;
        height: 90vh;
        background: url('../images/hand-card.png') center center no-repeat;
        background-size: 100%;
    }
}