section {
    margin-bottom: 15vh;
    margin-top: 15vh;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: calc(1vw + 1vh);
    line-height: 1.5;
}

section > header {
    text-transform: uppercase;
    font-size: calc(3.3vw + 2.3vh);
    margin-bottom: 4rem;
    text-align: center;
    color: #777;
}

section ol {
    li {
        margin-bottom: 3vh;

        > ul {
            margin-top: 3vh;
        }
    }
}

section .picture {
    background-repeat: no-repeat;
}

.h-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
        &:first-child {
            flex: 0.6;
            margin-right: 5vw;
            font-style: italic;
        }
        &:last-child {
            flex: 0.4;
        }
    }
}

section#intro {
    .picture {
        @include sizev(25vw, 700, 501);
        background-image: url('../images/intro.jpeg');
        background-size: contain;
        background-position-x: right;
        background-position-y: center;
        align-self: center;
    }
}

table.engineers {
    font-size: calc(0.7vw + 0.7vh);

    .photo1 {
        @include image('photo1.png');
        @include sizev(5vw, 96, 123);
    }
    
    .photo2 {
        @include image('photo2.png');
        @include sizev(5vw, 97, 121);
    }
    
    .photo3 {
        @include image('photo3.png');
        @include sizev(5vw, 100, 91);
    }
    
    .photo4 {
        @include image('photo4.png');
        @include sizev(5vw, 92, 121);
    }
    
    .photo5 {
        @include image('photo5.png');
        @include sizev(5vw, 99, 121);
    }
    
    .photo6 {
        @include image('photo6.png');
        @include sizev(5vw, 96, 119);
    }
}